#Intro{
    background-color: aqua;
        text-align: center;
}
#Bio {
    background-color: floralwhite;
    text-align: center;
    margin: 100px;
}
h1{
    font-family: 'Vidaloka', serif;
}
#Picture1{
    border-radius: 50%;
}
#Tim_Bereners_Lee{
    font-family: 'Oleo Script Swash Caps', cursive;
}
.menu { 
    list-style: none;
    position:fixed;
    top:10px;
    right: 30px;
    cursor: pointer; 
}
.links { 
    float: left;
    color:black;
    padding-top: 5px;
    padding-left: 9px;
    padding-right: 9px;
    padding-bottom: 5px;
    font-size: 20px 
}
.lines{
    height: 10px;
    width: 100px;
    background-color: black;
    text-align: center;
    margin: 8px auto;
margin: 8px auto;
}
#Work{
    text-align: center;
}
#Videos{
    text-align: center;
}
#Writing{
    text-align: center;
}
html { scroll-behavior: smooth; }